html {
  background-color: black;
}
.sign-up-form {
  width: 400px;
  box-shadow: 0 0 3px 0 rgba(0, 0, 0, 0.3);
  background: #fff;
  padding: 20px;
  margin: 8% auto 0;
  text-align: center;
  font-family: sans-serif;
  box-shadow: 0px 2px 1px -1px rgb(0 0 0 / 20%),
    0px 1px 1px 0px rgb(0 0 0 / 14%), 0px 1px 3px 0px rgb(0 0 0 / 12%);
  border-radius: 4px;
}

.sign-up-form h1 {
  color: #1c8adb;
  margin-bottom: 30px;
}

.input-box {
  border-radius: 20px;
  padding: 10px 0;
  margin: 10px 0;
  width: 100%;
  border: 1px solid #999;
  outline: none;
}

.sign-btn {
  color: #fff;
  width: 100%;
  padding: 10px;
  border-radius: 20px;
  font-size: 15px;
  margin: 10px 0;
  border: none;
  outline: none;
  cursor: pointer;
  background-color: #1c8adb;
}

.sign-in-btn {
  text-decoration: none;
  color: #ffd603;
}

#navbar-container {
  background-color: black;
}

#sooch {
  text-decoration: none;
  color: white;
}

#home-btn {
  color: white;
}

.card-title {
  color: white;
}

#signin-link {
  text-decoration: none;
}

#signup-link {
  text-decoration: none;
}

#project-container {
  background-color: black;
  margin-left: 2%;
}

#card-container {
  float: left;
  margin-right: 10px;
  margin-left: 50px;
  margin-top: 40px;
  overflow-y: auto;
  overflow-x: hidden;
  margin-bottom: 10px;
  min-width: 365px;
  padding: 6px;
  height: 400px;
}

.link {
  text-decoration: none;
}

#like-color {
  color: rgb(118, 179, 199);
}

#update-icon {
  margin-left: 65%;
}

.reviews {
  color: black;
}

.create-new-card {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
  /* border: 2px solid blue;
  border-radius: 4px; */
  border: none;
  border-bottom: 2px solid red;
  background-color: white;
  color: black;
}

.create-new-card:focus {
  background-color: white;
  border: 3px solid #555;
}

#text-area {
  width: 100%;
  height: 150px;
  padding: 12px 20px;
  box-sizing: border-box;
  border: 2px solid #ccc;
  border-radius: 4px;
  background-color: white;
  border-bottom: 2px solid red;
  color: black;
  resize: none;
  border: none;
}

#text-area:focus {
  background-color: white;
  border: 3px solid #555;
}

#create-new-card-button {
  background-color: #4caf50; /* Green */
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  /* margin-left: 45%; */
  cursor: pointer;
  margin-top: 3%;
}

#add-project-btn {
  outline: none;
  border: none;
  background-color: #27b927;
  color: #fff;
  font-size: 12px;
  font-weight: 700;
  border-radius: 8px;
  padding: 8px 2em;
  /* margin-top: 3em; */
  cursor: pointer;
  border: 2px solid transparent;
  transition: all 350ms ease-in-out;
  margin-left: 6%;
  margin-top: 1em;
}

#add-project-btn:hover {
  background-color: transparent;
  border: 2px solid #27b927;
}

.MuiToolbar-root.MuiToolbar-gutters.MuiToolbar-regular.css-1t29gy6-MuiToolbar-root {
  /* border-bottom: 2px solid white; */
  z-index: 99;
}

#comment-container {
  margin-left: 10px;
}

#single-card-container {
  margin-left: 500px;
  margin-top: 2em;
}

.create-new-comment {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
  /* border: 2px solid blue;
  border-radius: 4px; */
  border: none;
  /* border-bottom: 2px solid red; */
  background-color: white;
  color: black;
}

.add-new-comment-btn {
  background-color: #4caf50; /* Green */
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  /* margin-left: 45%; */
  cursor: pointer;
  /* margin-top: 3%; */
}

#comments {
  width: 50%;
  border: 2px solid white;
  background-color: #b3b1b1;
  margin-left: 350px;
}

.loading {
  color: white;
}

#search-bar {
  position: relative;
  width: 100%;
  max-width: 250px;
  height: 30px;
  border-radius: 120px;
  margin-left: 25%;
  text-indent: 1em;
}

#resume-container {
  /* background-color: black; */
  margin-left: 2%;
}

#resume-card {
  float: left;
  margin-right: 10px;
  margin-left: 50px;
  margin-top: 40px;
  overflow-y: auto;
  overflow-x: hidden;
  margin-bottom: 10px;
  min-width: 365px;
  padding: 6px;
  text-align: center;
  max-height: 450px;
}

#resume-btn {
  outline: none;
  border: none;
  background-color: #27b927;
  color: #fff;
  font-size: 12px;
  font-weight: 700;
  border-radius: 8px;
  padding: 8px 2em;
  /* margin-top: 3em; */
  cursor: pointer;
  border: 2px solid transparent;
  transition: all 350ms ease-in-out;
  margin-right: 8%;
  float: right;
  margin-top: 1em;
  /* float: right; */
}

#resume-btn:hover {
  background-color: transparent;
  border: 2px solid #27b927;
}

#project-btn-in-resume {
  outline: none;
  border: none;
  background-color: #27b927;
  color: #fff;
  font-size: 12px;
  font-weight: 700;
  border-radius: 8px;
  padding: 8px 2em;
  /* margin-top: 3em; */
  cursor: pointer;
  border: 2px solid transparent;
  transition: all 350ms ease-in-out;
  margin-left: 82%;
  /* margin-top: 1em; */
  /* float: right; */
}

#project-btn-in-resume:hover {
  background-color: transparent;
  border: 2px solid #27b927;
}

/* #testing {
  margin-left: 82%;
} */
/* ///////////////////////////////////////////////////////////// */

.form {
  background-color: #15172b;
  border-radius: 20px;
  box-sizing: border-box;
  height: 500px;
  padding: 20px;
  width: 320px;
  margin: 8% auto 0;
}

.title {
  color: #eee;
  font-family: sans-serif;
  font-size: 36px;
  font-weight: 600;
  margin-top: 30px;
}

.subtitle {
  color: #eee;
  font-family: sans-serif;
  font-size: 16px;
  font-weight: 600;
  margin-top: 10px;
}

.input-container {
  height: 50px;
  position: relative;
  width: 100%;
}

.ic1 {
  margin-top: 40px;
}

.ic2 {
  margin-top: 30px;
}

.input {
  background-color: #303245;
  border-radius: 12px;
  border: 0;
  box-sizing: border-box;
  color: #eee;
  font-size: 18px;
  height: 100%;
  outline: 0;
  padding: 4px 20px 0;
  width: 100%;
}

.cut {
  background-color: #15172b;
  border-radius: 10px;
  height: 20px;
  left: 20px;
  position: absolute;
  top: -20px;
  transform: translateY(0);
  transition: transform 200ms;
  width: 76px;
}

.cut-short {
  width: 50px;
}

.input:focus ~ .cut,
.input:not(:placeholder-shown) ~ .cut {
  transform: translateY(8px);
}

.placeholder {
  color: #65657b;
  font-family: sans-serif;
  left: 20px;
  line-height: 14px;
  pointer-events: none;
  position: absolute;
  transform-origin: 0 50%;
  transition: transform 200ms, color 200ms;
  top: 20px;
}

.input:focus ~ .placeholder,
.input:not(:placeholder-shown) ~ .placeholder {
  transform: translateY(-30px) translateX(10px) scale(0.75);
}

.input:not(:placeholder-shown) ~ .placeholder {
  color: #808097;
}

.input:focus ~ .placeholder {
  color: #dc2f55;
}

.submit {
  background-color: #08d;
  border-radius: 12px;
  border: 0;
  box-sizing: border-box;
  color: #eee;
  cursor: pointer;
  font-size: 18px;
  height: 50px;
  margin-top: 38px;
  /* outline: 0; */
  text-align: center;
  width: 100%;
}

.submit:active {
  background-color: #06b;
}

#do-you-account {
  color: white;
  text-align: center;
}

#dont-have-account {
  color: white;
  text-align: center;
  margin-bottom: 10px;
}

#delete-icon {
  cursor: pointer;
  color: red;
}

.new-form {
  color: white;
  text-align: center;
}

#project-form {
  width: 400px;
  box-shadow: 0 0 3px 0 rgba(0, 0, 0, 0.3);
  background: #fff;
  padding: 20px;
  margin: 5% auto 0;
  text-align: center;
  font-family: sans-serif;
  box-shadow: 0px 2px 1px -1px rgb(0 0 0 / 20%),
    0px 1px 1px 0px rgb(0 0 0 / 14%), 0px 1px 3px 0px rgb(0 0 0 / 12%);
  border-radius: 4px;
}

#new-resume-form {
  width: 400px;
  box-shadow: 0 0 3px 0 rgba(0, 0, 0, 0.3);
  background: #fff;
  padding: 20px;
  margin: 5% auto 0;
  text-align: center;
  font-family: sans-serif;
  box-shadow: 0px 2px 1px -1px rgb(0 0 0 / 20%),
    0px 1px 1px 0px rgb(0 0 0 / 14%), 0px 1px 3px 0px rgb(0 0 0 / 12%);
  border-radius: 4px;
}
