html {
  background-color: black;
}
.sign-up-form {
  width: 400px;
  box-shadow: 0 0 3px 0 rgba(0, 0, 0, 0.3);
  background: #fff;
  padding: 20px;
  margin: 8% auto 0;
  text-align: center;
  font-family: sans-serif;
  box-shadow: 0px 2px 1px -1px rgb(0 0 0 / 20%),
    0px 1px 1px 0px rgb(0 0 0 / 14%), 0px 1px 3px 0px rgb(0 0 0 / 12%);
  border-radius: 4px;
}

.sign-up-form h1 {
  color: #1c8adb;
  margin-bottom: 30px;
}

.input-box {
  border-radius: 20px;
  padding: 10px 0;
  margin: 10px 0;
  width: 100%;
  border: 1px solid #999;
  outline: none;
}

.sign-btn {
  color: #fff;
  width: 100%;
  padding: 10px;
  border-radius: 20px;
  font-size: 15px;
  margin: 10px 0;
  border: none;
  outline: none;
  cursor: pointer;
  background-color: #1c8adb;
}

.sign-in-btn {
  text-decoration: none;
}

#navbar-container {
  background-color: black;
}

#sooch {
  text-decoration: none;
  color: white;
}

#home-btn {
  color: white;
}

.card-title {
  color: white;
}

#signin-link {
  text-decoration: none;
}

#signup-link {
  text-decoration: none;
}

#project-container {
  background-color: black;
}

#card-container {
  float: left;
  margin-right: 10px;
  margin-left: 50px;
  margin-top: 40px;
  overflow-y: auto;
  overflow-x: hidden;
  margin-bottom: 10px;
  min-width: 365px;
  padding: 6px;
  max-height: 375px;
}

.link {
  text-decoration: none;
}

#like-color {
  color: rgb(118, 179, 199);
}
